@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


    <div class="container-fluid mt-3" style="background-color: #fff ; padding: 3vmin">
        <p class="text-center " style="font-size: 3vmin; font-weight: 600;" >OFFICIAL PAGE OF OBOSI DEVELOPMENT UNION WORLDWIDE</p>
    </div>
    <div class="container-fluid pt-2" style="background-color: #D4D8E2; ">
        <div>
           
        </div>

   
   


      <div class="container" >
        <div class="mt-3" style="flex-direction: row; display: flex; gap: 6px;">
            @* <button class="btn btn-primary btn-selection-active btn-selections-1"style="flex-grow: 1;">ABOUT US</button>
            <button class="btn btn-primary btn-selections-1" style="flex-grow: 1;">EXECUTIVE</button>
            <button class="btn btn-primary btn-selections-1" style="flex-grow: 1;">MEMBERS</button>
            <button class="btn btn-primary btn-selections-1" style="flex-grow: 1;">PHOTOS</button>
            <button class="btn btn-primary btn-selections-1" style="flex-grow: 1;">CALENDER</button> *@

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="flex-direction: row; display: flex; gap: 6px;">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active btn btn-primary  btn-selections-1" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about"
                            type="button" role="tab" aria-controls="pills-about" aria-selected="true">
                        ABOUT US
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-primary btn-selections-1" id="pills-executive-tab" data-bs-toggle="pill" data-bs-target="#pills-executive"
                            type="button" role="tab" aria-controls="pills-executive" aria-selected="false">
                        EXECUTIVE
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-primary btn-selections-1" id="pills-members-tab" data-bs-toggle="pill" data-bs-target="#pills-members"
                            type="button" role="tab" aria-controls="pills-members" aria-selected="false">
                        MEMBERS
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-primary btn-selections-1" id="pills-photos-tab" data-bs-toggle="pill" data-bs-target="#pills-photos"
                            type="button" role="tab" aria-controls="pills-photos" aria-selected="false">
                        PHOTOS
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-primary btn-selections-1" id="pills-calender-tab" data-bs-toggle="pill" data-bs-target="#pills-calender"
                            type="button" role="tab" aria-controls="pills-calender" aria-selected="false">
                        CALENDER
                    </button>
                </li>
            </ul>
        </div>
       
       


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
                <div class="row container" style="margin-left: auto; margin-right: auto;">
                    <div class="col-sm-12 mt-5">
                        <p style="font-size: 4vmin; font-weight: 700;">ABOUT US</p>
                        <img src="~/img/odu.jpg.png" style="width: 100%;" class="col-sm-12" alt="#">
                        <div style="background-color: #fff ; padding: 3vmin;" class="shadow-sm">
                            <p class="text-center " style="font-size: 3vmin;"><span style="font-weight: 700;">Election Day</span> - Contestants for post of president general</p>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-4">
                        <p class="text-left responsive_font_size">
                            Lorem ipsum dolor sit amet consectetur. In dictum ultricies imperdiet mattis dui semper varius.
                            Felis lacus purus sit ultrices nisi cum sed. Vitae consectetur proin sollicitudin mattis mauris.
                            Lobortis sit aliquet nullam quam nulla dignissim. Cursus aliquam neque facilisis auctor. Maecenas
                            morbi sed sed sem mi tellus amet sed. Sit a in tellus at a vulputate odio vestibulum. Bibendum dolor
                            non a tortor nibh massa. Sem et scelerisque aliquet quam viverra aliquam consectetur semper. Lectus
                            scelerisque eget purus nulla nec vitae. Sit quam risus morbi libero vestibulum sit tincidunt orci.
                            In maecenas sed ultricies velit pellentesque sagittis fermentum tellus augue.
                            Eget nulla commodo orci sed nunc scelerisque ut. Faucibus mi diam pharetra eget nullam laoreet
                            consectetur tempor. At donec lacus egestas velit massa sagittis et. Risus mattis dolor ut quam et
                            enim arcu sit auctor. Tortor porttitor arcu netus sed mattis ullamcorper.
                            Interdum aliquet nisl dui vel nulla mauris nunc nulla. Pellentesque platea commodo enim viverra quam
                            tincidunt eget. Porttitor urna faucibus fermentum enim viverra tincidunt turpis. Enim facilisi
                            faucibus amet cras fames nulla. Dis id consequat odio at. Et est id nisl aliquam tincidunt.
                            <br />
                            <br />
                            Felis sed vitae mattis in arcu rhoncus. Nunc eget et sit aenean dictumst amet volutpat. Amet odio
                            enim malesuada ultricies tortor enim vestibulum lectus neque. Ornare accumsan posuere felis tempor
                            porta at praesent venenatis. Integer non amet ipsum aliquet cursus eget nec integer sit. Nibh dolor
                            varius id dictum lacus et. Velit diam diam sed enim tellus lectus quam bibendum id. Amet tristique
                            nunc id elit nec volutpat integer. Scelerisque suspendisse viverra phasellus sapien augue lacus et
                            morbi. Nec maecenas montes tortor bibendum fringilla aliquet donec et. Integer id viverra diam arcu.
                            Et nunc in feugiat auctor egestas nisi in.
                            Dolor hendrerit quis etiam imperdiet nisl. Proin lorem ipsum sapien laoreet volutpat etiam orci.
                            Augue sed maecenas non elit. Id sed vehicula vel nisl magna morbi mi fringilla amet. Amet et eget
                            vitae mauris. Venenatis vulputate tristique commodo nunc porttitor ac sit. Nunc tellus integer morbi
                            sit leo adipiscing. Felis nunc arcu nulla molestie mi ac donec. Ante malesuada duis adipiscing
                            scelerisque at sodales risus sed. Vulputate neque euismod molestie morbi pellentesque. Integer netus
                            ac sodales id elementum aliquam eget sem.
                            Pulvinar amet nunc pulvinar pretium ultrices urna. Sit in vitae id ut pellentesque adipiscing.
                            Lectus commodo gravida risus vitae urna varius ac in. Mauris sed libero at fermentum malesuada netus
                            eu tristique. Morbi amet eu ultrices at. Vel id mattis odio nibh enim.
                        </p>
                    </div>

                </div>

            </div>
            <div class="tab-pane fade" id="pills-executive" role="tabpanel" aria-labelledby="pills-executive-tab">
               
                  
                   
                   

                            <div class="row container" style="margin-left: auto; margin-right: auto;">
                                <div class="col-sm-12 mt-5">
                                    <p style="font-size: 4vmin; font-weight: 700;">EXECUTIVE</p>

                                </div>
                                <div>
                                    <div class="row p-4">
                                        <div class="col-md-3 ">
                                            <img src="~/images/president.png" alt="Image 1" class="img-fluid">
                                        </div>
                                        <div class="col-md-3">
                                            <img src="~/images/president.png" alt="Image 1" class="img-fluid">


                                        </div>
                                        <div class="col-md-3">
                                            <img src="~/images/president.png" alt="Image 1" class="img-fluid">


                                        </div>
                                        <div class="col-md-3">
                                            <img src="~/images/president.png" alt="Image 1" class="img-fluid">


                                        </div>


                                    </div>
                                    <div>
                                        <div class="row p-4">
                                            <div class="col-md-3 ">
                                                <img src="~/images/president.png" alt="Image 1" class="img-fluid">
                                            </div>



                                        </div>
                                    </div>

                                    <div class="" style="background-color: #D4D8E2;">

                                        <div class="row">
                                            <div class="col-lg-10 col-sm-12">
                                            </div>
                                            <div class="col-sm-10">
                                            </div>
                                        </div>

                                        <div class="middle-body mt-5">
                                        </div>


                                        <hr style="color: #fff; size: bold;">


                                    </div>
                                </div>
                              
                               

              


            </div>
            <div class="tab-pane fade" id="pills-members" role="tabpanel" aria-labelledby="pills-members-tab">...</div>
            <div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab">...</div>
            <div class="tab-pane fade" id="pills-calender" role="tabpanel" aria-labelledby="pills-calender-tab">
                    <div class="row container" style="margin-left: auto; margin-right: auto;">
                        <div class="col-sm-12 mt-5">
                            <p style="font-size: 4vmin; font-weight: 700;">ABOUT US</p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-lg-flex" style="  ">
                            <!-- First Box -->
                            <div class=" col-md-4 col-12 mb-4 " style=" padding: 10px; margin-right: 15px;">
                                <div class="col-md-12 " style="display: flex; background-color: #F7F7F7; padding: 10px;">
                                    <div class="col-md-3" style="line-height: normal; color: #FFFFFF; margin: 0; padding: 10px; background-color: #CFB174;">
                                        <h6 style="font-weight: 700; font-size: 40px; margin: 0;">DEC</h6>
                                        <h6 style="font-weight: 700; font-size: 65px; margin: 0;">10</h6>
                                        <h6 style="font-weight: 500; font-size: 28px; margin: 0;">2023</h6>
                                    </div>
                                    <div class="col-md-9 " style="padding: 10px;">
                                        <h6 style="font-weight: 600; font-size: 30px; margin: 0;color:  #4e4e4e;">End of Year Party, ODU Abuja</h6>
                                        <div class="py-5"></div>
                                        <div class="">
                                            <div style="border-bottom: 3px solid #CFB174; padding: 5px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Second Box -->
                            <div class=" col-md-4 col-12 mb-4 " style=" padding: 10px; margin-right: 15px;">
                                <div class="col-md-12 " style="display: flex; background-color: #F7F7F7; padding: 10px;">
                                    <div class="col-md-3" style="line-height: normal; color: #FFFFFF; margin: 0; padding: 10px; background-color: #CFB174;">
                                        <h6 style="font-weight: 700; font-size: 40px; margin: 0;">DEC</h6>
                                        <h6 style="font-weight: 700; font-size: 65px; margin: 0;">10</h6>
                                        <h6 style="font-weight: 500; font-size: 28px; margin: 0;">2023</h6>
                                    </div>
                                    <div class="col-md-9 " style="padding: 10px;">
                                        <h6 style="font-weight: 600; font-size: 30px; margin: 0;color:  #4e4e4e;">End of Year Party, ODU Abuja</h6>
                                        <div class="py-5"></div>
                                        <div class="">
                                            <div style="border-bottom: 3px solid #CFB174; padding: 5px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Third Box -->
                            <div class=" col-md-4 col-12 mb-4 " style=" padding: 10px; margin-right: 15px;">
                                <div class="col-md-12 " style="display: flex; background-color: #F7F7F7; padding: 10px;">
                                    <div class="col-md-3" style="line-height: normal; color: #FFFFFF; margin: 0; padding: 10px; background-color: #CFB174;">
                                        <h6 style="font-weight: 700; font-size: 40px; margin: 0;">DEC</h6>
                                        <h6 style="font-weight: 700; font-size: 65px; margin: 0;">10</h6>
                                        <h6 style="font-weight: 500; font-size: 28px; margin: 0;">2023</h6>
                                    </div>
                                    <div class="col-md-9 " style="padding: 10px;">
                                        <h6 style="font-weight: 600; font-size: 30px; margin: 0;color:  #4e4e4e;">End of Year Party, ODU Abuja</h6>
                                        <div class="py-5"></div>
                                        <div class="">
                                            <div style="border-bottom: 3px solid #CFB174; padding: 5px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


            </div>
        </div>
      </div>
        
        <div class="" style="background-color: #D4D8E2;">
            
            <div class="row">
               <div class="col-lg-10 col-sm-12">
                
               </div>
               <div class="col-sm-10">
               
               </div>
            </div>

            <div class="middle-body mt-5">
               
            </div>


            <hr style="color: #fff; size: bold;">

          
        </div>
    </div>
  


