@using Obosi.ng.Presentation.utility;
@model Obosi.ng.Presentation.ViewModels.MediaViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">

</head>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6></h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="text-start m-3">
                        <a class="btn btn-outline-primary btn-sm mb-0" href="~/VideoAssets/create">Create</a>
                    </div>
                    <div class="table-responsive p-0">
                        <table id="example" class="table table-striped p-3 m-3" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S/n</th>
                                    <th>Captions</th>
                                    <th>Units</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Video_Assets != null)
                                {
                                    int k = 1;
                                    @foreach (var item in Model.Video_Assets)
                                    {
                                        <tr>
                                            <td>@k</td>
                                            <td>@item.Caption</td>
                                            <td>@item.Unit.Name</td>
                                            <td>
                                               @*  <a class="btn btn-outline-primary btn-sm mb-0" href="~/VideoAssets/Edit?id=@item.Id.ToString()">Edit</a> *@
                                                <a class="btn btn-outline-primary btn-sm mb-0" href="~/VideoAssets/Delete?id=@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                        k++;
                                    }

                                }



                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script> 