@model Obosi.ng.Presentation.ViewModels.NewsViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit News Post</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input asp-for="NewsObject.Id" type="hidden" />
    <div class="form-group">
        <label for="title">Title:</label>
        <input asp-for="NewsObject.Title" class="form-control" />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CategoryId">Category:</label>
                @*  <input asp-for="NewsObject.CategoryId" class="form-control" /> *@
                <select asp-for="NewsObject.CategoryId" class="form-select">
                    <option value="">Select</option>
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="BackgroundImageUrl">Image:</label>
                <input asp-for="Image" class="form-control" type="file" accept="image/*" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="content">Summary:</label>

        <textarea name="NewsObject.Summary" style="width: 100%; height: 100px;" required class="form-control"
                   asp-for="NewsObject.Summary"></textarea>
    </div>
    <div class="form-group">
        <label for="content">Body:</label>

        <textarea name="NewsObject.Body" style="width: 300px; height: 100px;" required 
                  id="PassageQuestion" class="ckeditor" asp-for="NewsObject.Body"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Edit</button>
</form>

<script src="//cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('#PassageQuestion');
        CKEDITOR.replace('#PassageQuestion2');
    });

</script>
